@model IEnumerable<BartenderApp.Models.DrinkOrder>
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
</head>
<body>
    <h2>Here is the list of current orders</h2>
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Drink Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (BartenderApp.Models.DrinkOrder o in Model)
            {
            <tr>
                <td>@o.CustomerName</td>
                <td>@o.DrinkName</td>
                <td><a class="btn btn-primary" asp-controller="Order" asp-action="FinishedPrep">Ready for pickup</a></td>

            </tr>
            }
        </tbody>
    </table>
</body>
</html>