@model BartenderApp.Models.DrinkOrder
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thank you, @Model.CustomerName!</h1>
        <h1>Your drink will be right up!</h1>

</body>
</html>