@model BartenderApp.Models.Drink
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="display-4">Welcome to the Bartender App</p>
    
    <a class="btn btn-primary" asp-controller="Order" asp-action="Index">Patron</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="CompletedOrders">Bartender</a>


</div>
